* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

body { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(200w.gif);
  background-color: hsla(137, 90%, 16%, 0.663);
}

.login-form {
  background-color: black;
  padding: 25px;
  border-radius: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 1px 15px 10px rgb(11, 111, 49);
}

.login-form .form-header {
display: flex;
 justify-content: center;
  align-items: center;
  color: white;
 flex-direction: column
 };

 .login-form .form-header h1 {
  font-weight: 800;
 }

 .login-form .form-header p {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
 }

 .login-form .input-Wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
 }

 .login-form .input-Wrapper input {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(11, 111, 49);
  outline: none;
 }

 .login-form .input-Wrapper label {
 color: white;
 font-size: 12px;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 4px;
 }

 .error {
color: tomato;
margin: 5px 0;
font-weight: 500;
 }

 .login-form button {
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #0b6f31;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 17px;

 }

  .login-form button:hover {
    background-color: #0a5c28;
  }

@media screen and (maxwidth: 565px) {
  .login-form {
    width: 400
  }
}